.detailconter{
    margin: 100px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-image: url('../../imagenes/pokemonimagenfondo.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
    
}
.button{
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #ebd618c5;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #e2bc14;
    margin-top: 20px;
    margin-left: 30rem;
}