body{
  

.home{
    
    margin: 0;
    background-position: center;
    background-size: cover;
    background-image: url('../../imagenes/Fondos-de-pantalla-pokemon.jpg');
    height: 100vh;
}
   
}

.cards{
    display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px;
  padding: 25px;
   
} 