.paginated{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttonP{
    --size: 32px;
    --margin: 6px;
    margin: 0 var(--margin);
    border-radius: 15px;
    background: whitesmoke;
    max-width: auto;
    min-width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 6px;
    color: rgb(45, 85, 55);
    box-shadow: rgba(0, 0, 0, 0.4) 3px 8px 12px,
     rgba(0, 0, 0, 0.3) 5px 1px 10px 3px, rgba(1, 0, 0, 0.2) 0px -1px 2px inset;
}